# Xcode
.DS_Store
build/
DerivedData/
*.hmap
*.ipa
*.xcuserstate
xcuserdata/

# Swift
*.swp
*.h.swp
*.swift.swp
*.storyboardc/

# CocoaPods
Pods/
Podfile.lock

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
